body {
  width: 80%;
  margin: auto;
  background-color: azure;
  border: 1px solid;
  padding: 5px; }
  body #borderWhite {
    border-bottom: 1px outset white; }
  body .flex-container {
    display: flex;
    flex-wrap: wrap; }
  body #checkout_container_header {
    flex-direction: row;
    justify-content: space-between; }
  body #checkout_headline {
    border: 1px solid;
    text-align: center; }
  body #checkout_container_subheading {
    flex-direction: row;
    justify-content: space-around;
    padding: 5px; }
  body #checkout_container_cart {
    padding: 5px;
    flex-direction: column;
    border: 1px solid;
    padding: 5px; }
    body #checkout_container_cart #checkout_container_items {
      flex-direction: row;
      justify-content: space-around;
      padding: 5px; }
  body #checkout_container_sum {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px; }
  body #checkout_container_form_payment {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
    padding-bottom: 10px;
    padding: 30px; }
    body #checkout_container_form_payment #checkout_container_form {
      flex-direction: row;
      flex-wrap: wrap; }
      body #checkout_container_form_payment #checkout_container_form #checkout_form {
        flex-direction: column;
        display: inline;
        margin: 0 20px 0 20px; }
        body #checkout_container_form_payment #checkout_container_form #checkout_form #form p {
          margin-bottom: 0; }
        body #checkout_container_form_payment #checkout_container_form #checkout_form #form .error {
          color: red;
          font-style: italic; }
        body #checkout_container_form_payment #checkout_container_form #checkout_form #form input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
    body #checkout_container_form_payment #checkout_container_payment_options {
      flex-direction: column;
      justify-content: space-evenly; }
      body #checkout_container_form_payment #checkout_container_payment_options #checkout_payment_options {
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: center;
        border: 1px solid;
        align-content: center;
        margin: 5px 20px 5px 20px;
        padding: 10px; }
        body #checkout_container_form_payment #checkout_container_payment_options #checkout_payment_options span {
          padding: 10px;
          margin: 0 40px 0 40px;
          justify-content: center; }
          body #checkout_container_form_payment #checkout_container_payment_options #checkout_payment_options span #radio {
            margin: 0 20px 0 0; }
  body #checkout_container_confirmation {
    text-align: center;
    flex-direction: column;
    padding: 5px;
    align-content: center; }
    body #checkout_container_confirmation #checkout_button {
      padding: 5px; }
      body #checkout_container_confirmation #checkout_button a {
        display: block; }
    body #checkout_container_confirmation #checkout_container_checkbox {
      flex-direction: row;
      padding: 5px; }
      body #checkout_container_confirmation #checkout_container_checkbox #checkout_checkbox {
        height: 18px;
        width: 18px; }
      body #checkout_container_confirmation #checkout_container_checkbox #checkout_conditions {
        display: inline;
        padding: 10px; }
  body #checkout_container_footer {
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid; }
    body #checkout_container_footer #checkout_footer {
      padding: 10px;
      font-size: small;
      flex-direction: column; }
    body #checkout_container_footer #checkout_footer_map {
      padding: 10px;
      flex-direction: column; }
      body #checkout_container_footer #checkout_footer_map a #map:hover {
        border: 1px solid; }
