.borderShadow {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(166, 166, 166, 0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(166, 166, 166, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(166, 166, 166, 0.15); }

.borderWhite {
  border-bottom: 1px outset white; }

#header {
  background-color: transparent;
  color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99; }
  #header div {
    width: 50%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    align-items: center; }
  #header .header-left {
    justify-content: flex-start;
    font-size: 1.6rem;
    font-family: 'Barlow', sans-serif; }
  #header .header-right {
    justify-content: flex-end; }
    #header .header-right .fa-shopping-cart {
      font-size: 22px; }
      #header .header-right .fa-shopping-cart .badge {
        position: relative;
        /* In order to position the badge in the top right of list item */
        top: -18px;
        right: 0;
        font-size: 10px;
        font-family: 'Barlow', sans-serif; }

#movie {
  width: 100%;
  height: 460px;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1; }

#hero {
  width: 100%;
  height: 460px; }
  #hero p {
    font-family: 'Vollkorn', serif;
    font-size: 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 2px;
    color: white;
    display: inline;
    padding: 20px;
    position: relative;
    left: 13%;
    top: 260px; }
  #hero p:hover {
    border: 1px solid white;
    padding-left: -3px;
    cursor: pointer; }

#filter {
  width: 100%;
  height: 100px;
  border-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #filter button {
    margin: 0 20px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    background-color: white;
    border-radius: 2px; }
  #filter button:hover {
    border: 1px solid black;
    cursor: pointer; }

#productSection {
  width: 100%;
  display: flex;
  justify-content: center; }
  #productSection .flex-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    #productSection .flex-container .productContainer {
      width: 48%;
      margin: 5px; }
      #productSection .flex-container .productContainer .productImage {
        width: 100%; }
      #productSection .flex-container .productContainer .productTitleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5px; }
        #productSection .flex-container .productContainer .productTitleContainer span {
          text-align: center; }
        #productSection .flex-container .productContainer .productTitleContainer .priceSpan {
          margin-top: 5px; }
        #productSection .flex-container .productContainer .productTitleContainer .titleFont {
          font-family: 'Baskervville', serif;
          font-size: 1.2rem; }
    @media screen and (min-width: 600px) {
      #productSection .flex-container .productContainer {
        width: 31%; } }
    @media screen and (min-width: 800px) {
      #productSection .flex-container .productContainer {
        width: 23%; } }

#recommended {
  margin-top: 100px; }
  #recommended .hr-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #recommended .hr-header .hr-column {
      width: 20%;
      text-align: center; }
    #recommended .hr-header .hr-column-middle {
      width: 30%;
      text-align: center; }
  #recommended .recommended-flex {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    #recommended .recommended-flex .recommendedContainer {
      width: 180px;
      margin: 5px; }
      #recommended .recommended-flex .recommendedContainer .recommendedImage {
        width: 100%; }

footer {
  margin-top: 200px;
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-top: 1px solid grey; }

body {
  height: 2000px;
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Baskervville', serif;
  font-family: 'Barlow', sans-serif;
  font-family: Helvetica,Arial,sans-serif; }
