#checkoutProductSection {
  margin-top: 60px;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  #checkout_headline {
    padding: 60px 0;
    width: 100%;
    text-align: center;
  }

  #checkout_container_subheading {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);

    .checkout_subheading {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
    #myProducts {
      width: 60%;

      span {
        width: 100%;
        text-align: left;
        padding-left: 20px;
      }

    }
    #quantity {
      width: 30%;
    }
    #remove {
      width: 10%;
    }
  }

  #checkout_container_cart {
    background-color: white;
    width: 80%;

    #checkout_container_items {
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mainCartContainer {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .product-info {
          display: flex;
          width: 60%;
          height: inherit;
          flex-direction: row;
          justify-content: flex-start;

          .product-info-image {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;

            .cartImage {
              height: 90%;
            }
          }

          .product-info-name {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            p {
              text-align: left;
              height: 20%;
              width: 100%;
            }
          }
        }
        .amountInfo {
          width: 30%;

          .totalProductAmount {
            padding: 0 10px;
          }
          .totalProductPrice {
            padding: 0 0 0 50px;
          }
        }
        .removeInfo {
          width: 10%;

          .removeImage {
            height: 10%;
          }
        }
      }
    }
  }

  #checkout_container_sum {
    background-color: white;
    width: 80%;
    height: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);

    #checkout_sum,
    #checkout_to_pay {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#checkoutForm {
  width: 80%;
  background-color: white;
  margin-bottom: 100px;
}
