// FOOTER //

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  padding: 20px 0 10px 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;

  div {
    width: 40%;
    text-align: center;
  }

}
