// HEADER //

.borderShadow {
  -webkit-box-shadow: 0 2px 10px 0 rgba(166, 166, 166, 0.15);
  -moz-box-shadow: 0 2px 10px 0 rgba(166, 166, 166, 0.15);
  box-shadow: 0 2px 10px 0 rgba(166, 166, 166, 0.15);
}



#navbar {
  #header {

    // background-color: transparent;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    color: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    font-family: 'Montserrat', sans-serif;


    a {
      text-decoration: none;
      color: inherit;
    }

    div {
      width: 33.33%;
      height: 59px;
      padding: 0 20px;
      display: flex;
      align-items: center;

      span:hover {
        cursor: pointer;
      }

      i:hover {
        cursor: pointer;
      }
    }

    .header-left {
      justify-content: flex-start;
      font-size: 0.8rem;

      .menu-toggle-container {
        padding: 0;
        width: 80px;
        justify-content: center;
      }
    }

    .header-middle {
      justify-content: center;
      font-size: 1.8rem;
    }

    .header-right {
      justify-content: flex-end;
      position: relative;

      div {
        width: 50px;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;


        img {
          width: 20px;
          margin: 0 10px;
          cursor: pointer;
        }

        .badge {
          position: relative;
          top: -10px;
          right: 10px;
          font-size: 8px;
          visibility: hidden;
        }
      }
    }
  }
  .menu {
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 59px;
    transition: 0.3s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    overflow-x: hidden;
    z-index: 98;

    .menu-section {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      padding-left: 40px;
      color: black;

      ul {

        .dropdown-header {
          color: black;
          font-weight: bold;
          padding-left: 0;
          font-size: 1.1rem;
        }

        li {
          list-style: none;
          color: rgba(0, 0, 0, 0.7);
        }
        li:hover {
          text-decoration-line: underline;
          cursor: pointer;
        }

        a {
          color: inherit;
        }
      }
    }
  }
  @media screen and (min-width: 800px) {
    .menu {
      justify-content: flex-start;
      .menu-section {
        width: 30%;
      }
    }

  }
  @media screen and (min-width: 1000px) {
    .menu {
      justify-content: flex-start;
      .menu-section {
        width: 20%;
      }
    }
  }

  .menu-show {
    height: 200px;
  }
  .menu-hide {
    height: 0;
  }


  .dark {
    position: fixed;
    display: none;
    // transition: 0.5s;
    height: 100%;
    width: 100%;
    z-index: 7;
    background-color: black;
    opacity: 0.15;
  }
}
