// PRODUKTER //


#productSection {
  width: 100%;
  margin: 60px 0 0;

  .product-navbar {
    width: 100%;
    padding: 40px;

    .product-header-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      .product-header {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
      }
      .product-description {
        width: 40%;
        margin: 20px 0 0 0;
        text-align: center;

        span {
          font-size: 0.8rem;
        }
      }
      @media screen and (max-width: 700px) {
        .product-description {
          width: 80%;
        }
      }
    }


  }

  .product-container {
    display: flex;
    justify-content: space-around;

    .flex-container {
      width: 100%;
      max-width: 1400px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .productContainer {
        width: 48%;
        margin: 2px;

        .productImage {
          width: 100%;
        }

        .highlight {
          -webkit-box-shadow: 0 2px 10px 0 rgba(166,166,166,0.4);
          -moz-box-shadow: 0 2px 10px 0 rgba(166,166,166,0.4);
          box-shadow: 0 2px 10px 0 rgba(166,166,166,0.4);
        }

        .productTitleContainer {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 0 5px;
          margin-bottom: 10px;

          .leftInnerTitleContainer{
            width: 80%;

            p {
              text-align: left;
              margin-bottom: 0;
            }

            .priceP {
              font-size: 0.8rem;
              margin-top: 5px;
            }

            .titleFont {
              // letter-spacing: 1px;
              font-size: 1rem;
            }
          }

          .rightInnerTitleContainer{
            width: 20%;
            .fa-heart{
              position: absolute;
              top: 8px;
              right: 8px;
              font-size: 20px;
              color: rgba(166,166,166,0.6);
              cursor: pointer;
            }
          }
        }
      }
      @media screen and (min-width: 600px) {
        .productContainer {
          width: 31%;
        }
      }
      @media screen and (min-width: 800px) {
        .productContainer {
          width: 23%;
        }
      }
    }
  }
}

.number-of-items {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
