body {
    width: 80%;
    margin: auto;
    background-color: azure;
    border: 1px solid;
    padding: 5px; 

    #borderWhite {
        border-bottom: 1px outset white;
      }

    header {
    
      
        div {
       
            .header-left {

            }
        
            .header-right {
            
        
                .fa-shopping-cart {
                   

                } 
            }
        }

    }



    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    #checkout_container_header {
        flex-direction: row;
        justify-content: space-between;

        #checkout_header_left {

        }
        #checkout_header_righ {

        }

    }
    #checkout_headline {
        border: 1px solid;
        text-align: center;

    }
    #checkout_container_subheading {
        flex-direction: row;
        justify-content: space-around;
        padding: 5px; 
        
        .checkout_subheading {
 
        }
    }

    #checkout_container_cart {
        padding: 5px;
        flex-direction: column;
        border: 1px solid;
        padding: 5px;
        

        #checkout_container_items {
            flex-direction: row;
            justify-content: space-around;
            padding: 5px;
        }
    }
    #checkout_container_sum {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    }
    #checkout_container_form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid;
        padding-bottom: 10px;
        height: 300px;
        padding: 20px;
        

        #checkout_form {
            flex-direction: column;
            flex-wrap: wrap;
            display: inline;
            width: 30%;
                    
        }
        #checkout_container_payment_options {
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
            padding-left: 20px;
     
            #checkout_payment_options {
                flex-direction: row;  
                border: 1px solid;
                align-content: center;
                text-align: center;
                padding: 10px;
                height: 15%;              

            }
        }
        
    }
    #checkout_container_confirmation {
        text-align: center;
        flex-direction: column;
        padding: 5px;
        align-content: center;
        #checkout_button {
            width: 30%;
            padding: 5px; 

        }
        #checkout_container_checkbox {
            flex-direction: row;
            //justify-content: 
            padding: 5px;

            #checkout_checkbox {
                height: 18px;
                width: 18px;
            }
            #checkout_conditions {
                display: inline;
                padding: 10px;

            }

            

        }
    }

    #checkout_container_footer {
        flex-direction: row;
        border: 1px solid;
        padding: 5px;
        #checkout_footer {

        }
        #checkout_footer_map {

        }
    }

 
}   
