@import 'header';
@import 'hero';
@import 'filter';
@import 'produkter';
@import 'recommended';
@import 'footer';

body {
  height: 2000px;
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Baskervville', serif;
  font-family: 'Barlow', sans-serif;
  font-family: Helvetica,Arial,sans-serif;
}
html {
  scroll-behavior: smooth;
}
