@import 'header';
@import 'startAnimation';
@import 'filter';
@import 'produkter';
@import 'recommended';
@import 'footer';
@import 'detaljsida';
@import 'favorites';
@import 'checkout';
@import 'form';
@import 'termsandconditions';
@import 'confirmation';



body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Baskervville', serif;
  font-family: 'Barlow', sans-serif;
  font-family: Helvetica,Arial,sans-serif;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
